<h1 mat-dialog-title>Add Task</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="addTaskForm">
    <mat-form-field class="example-full-width">
      <mat-label>Task Name</mat-label>
      <input matInput placeholder="Ex. Complete PMT"  formControlName="taskName">
      <mat-error *ngIf="!addTaskForm.hasError('required')">
        Please Enter Task Name
      </mat-error>
    </mat-form-field>
<!-- chips to be added for users assgined to task -->
    <mat-form-field class="example-full-width">
      <mat-label>Task Description</mat-label>
      <textarea matInput placeholder="Ex. make it quick" formControlName="taskDescription"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <div class="example-button-row">
  <button mat-button mat-dialog-close cdkFocusInitial (click)="onSubmit()">Ok</button>
  <button mat-button mat-dialog-close >Cancel</button>
</div>
</div>
