<h1 mat-dialog-title>Add List</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="addListForm">
    <mat-form-field class="example-full-width">
      <mat-label>List Name</mat-label>
      <input matInput placeholder="Ex. To Do"  formControlName="listName">
      <mat-error *ngIf="!addListForm.hasError('required')">
        Please Enter List Name
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <div class="example-button-row">
  <button mat-button mat-dialog-close [disabled]="!addListForm.valid" cdkFocusInitial (click)="onSubmitList()">Ok</button>
  <button mat-button mat-dialog-close >Cancel</button>
</div>
</div>
